<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
{% load bootstrap4 %}
<head>
    <link rel="canonical" href="https://www.jumpstartcarservice.com/" />
    <title>Car not starting? $39 jump start service</title>
        <meta charset="UTF-8" content="width=device-width, initial-scale=1" name="viewport" >
    <meta name="description" content="Learn why your car is not starting and request a jump start for only $39. Fast and cheap">

    <meta name="keywords" content="car not starting, jump start service, car has no power, car won't start">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/my_style.css' %}"/>
</head>
<body>





<div align="center"><h1>Jump start only $39</h1></div>
    <div class="bottom_margin container" align="center">
                            <div style="position: relative; text-align: center; color: white">
                            <div style="margin-top: 5px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">

                                <h4 style="background-color: black">Car Jump Start Service</h4>
                                <h4 style="background-color: black">Free Estimate</h4>

                            </div>

                            <img style="width: 100%"
                             src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/jumpstart_cables.jpg"
                             alt="car not starting" title="car not starting">
                                <a href="{% url 'jumpstart:home'%}">
                                <button type="button" class="btn btn-primary btn-lg" style="margin: 5px">Click Here To Get Jump Start</button></a>

                        </div>

    </div>

<div class="container">
    <div align="left" style="border: 1px solid blue; padding: 5px; margin: 5px">
        <h4 align="center">Why a car is not starting</h4>
        <h5>Dead battery</h5>
        <p>A dead battery is the most common reason why your car is not starting. The battery is what the car uses to provide electrical power to the entire car and electrical components (e.g. lights, radio, etc.). While the vehicle is running, the alternator charges the battery. If the battery is not charged sufficiently, you will not be able to start the car or use any electrical components.</p>
        <ul>
        <li>Your headlights or dome light was left on overnight or for too long</li>
        <li>You have a loose wire</li>
        <li>The water inside the component evaporated, leading to poor conductivity</li>
        <li>The battery's lifespan has expired</li>
        </ul>
        <h5>Bad Ignition Switch</h5>
        <p>If you know your battery is working properly, but your car doesn’t turn over on the first few tries, you might have a problem with the ignition switch. You can try to narrow down the cause of your issue by turning on your headlights. Because the battery controls your headlights and dashboard, if they turn on, but your engine won’t start, a bad ignition switch is the likely culprit.</p>

        <h5>Broken starter</h5>
        <p>Similar to a bad ignition switch, a broken starter is another common reason your car won’t start. As the name implies, the starter provides the turning force necessary to get everything moving to start the engine. If you hear a clicking noise when you try to start your vehicle, a broken or weakened starter could be to blame.</p>
    </div>
</div>

<div class="container">
    <div align="left" style="border: 1px solid red; margin: 5px; padding: 5px">
        <h4 align="center">How to check what's wrong</h4>
        <h5>Starter goes click?</h5>
        <p>
            If the car clicks when trying to start, but still won’t start, this can be caused by a weak battery,
            dirty battery terminals, a worn starter motor or a stuck solenoid. If your car turns on
            but won’t start, turn on the dome light and watch it while
        you try to start the engine. If the light goes out, it’s a sign the battery is
        really weak—almost dead. To heat up the battery, terminals and starter, try
        the “key cycling” trick. The trick is to turn the key to the start position repeatedly about 10
        times in a row. Stop and wait five minutes. Then try to start the engine. But if the
        dome light stayed bright when you turned the key, move on to the next trick if your car won’t start.
        </p>

        <h5>No click when you turn the key?</h5>
        <p>
            With your foot on the brake, move the shift lever to the neutral position and try starting
            the engine. If that doesn't work, move it back to “Park” and try it again. Moving the shifter
            sometimes reestablishes electrical contact inside the transmission range selector (also known
            as the neutral safety switch).
        </p>
        <h5>Engine cranks but won’t fire up?</h5>
        <p>
            With the radio off, turn the key to the “Run” position and listen for a two-second
            buzzing sound. That’s the fuel pump priming the injection system. If you don’t hear any
            sound, the fuel pump relay may be bad or the pump may be on its last legs. First, find the
            location of the fuel pump relay in your owner’s manual or on the legend of the under-hood
            fuse box cover. Yank the fuel pump relay straight up. Then locate another relay with the
            same part number and swap it with the fuel pump push it straight into the socket. Try starting
            the engine afterward.
        </p>

    </div>
</div>


    <div class="container">
    <h6>More info</h6>
    <a href="https://www.geico.com/more/driving/auto/auto-care/what-to-do-if-your-car-wont-start/">Why a car won't start</a><br>
    <a href="https://www.askmen.com/cars/car_tips_100/105_car_tip.html">How to change a dead car battery</a><br>
    <a href="https://axleaddict.com/auto-repair/Whats-Wrong-With-My-Car-Five-Signs-Youre-Battery-Is-Dead">Signs of a dead car battery</a><br>
    <a href="https://www.chicagocarhelp.com/jump-start-car/">Jump Start Car Service</a><br>
    <a href="https://www.chicagocarhelp.com/">Battery Jump Start Service Chicago</a><br>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>


</body>
</html>