<!DOCTYPE html>
{% extends 'jumpstart/home.html' %}

{% block body_block %}



    <div class="bottom_margin container" align="center">


<div align="center" class="make_me_small"><h1>JUMP START SERVICE CHICAGO </h1></div>
    <div class="bottom_margin container" align="center" style="position: relative; text-align: center; color: white">


                                <img style="width: 100%"
                                 src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/chicagocarhelp_jumpstartservice.png"
                                 alt="jump start car service" title="jump start car service">


<h2 style="background-color: black">$39 for a jump start service in Chicago</h2>
                                <p style="color: black">Click button below to enter your location and phone for better service</p>
                                 <a href="{% url 'jumpstart:home'%}"><button type="button" class="btn btn-primary btn-lg" style="margin: 5px">Click to enter address/phone</button>
                                 </a>
    </div>





<p>or you can call us</p>
                        <a href="tel:+17085489664"><button class="btn btn-success btn-lg">CALL</button></a>
                        <p style="color: black">708-548-9664</p>

        <div align="center">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d380513.71601800894!2d-88.01234150586738!3d41.83339249957157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e33ad94b2b981%3A0x226556739ebfc1f3!2sChicagocarhelp!5e0!3m2!1sen!2sus!4v1566764274203!5m2!1sen!2sus" width="340" height="240" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>


<div style="background-color: rgba(0,255,72,0.25); color: black;">
    <h2>How our jump start service works</h2>
    <p align="left">1) Enter your address and phone number or call us</p>
    <p align="left">2) Wait for our arrival</p>
    <p align="left">3) Pay if the jump start service was completed</p>
    <p align="left">4) Pay with credit card, cash or Venmo</p>
</div>


<div class="container">
    <div align="left" style="margin: 5px; border: blue 1px solid; padding: 5px; background-color: black; color: white">

    <h4 align="center">Reasons for a dead car battery</h4>

                        <p>The typical car battery lasts 3 to 5 years, depending on the type of climate you
                            live in. If you live in an area that experiences extreme heat or cold weather, your battery
                            might not make it to its fourth birthday. If you mostly use your car for short
                            trips (an average run time of less than 15 minutes), your battery may not
                            have a long life because your alternator rarely gets the opportunity to
                            fully recharge it.</p>
                <p>Extreme heat or cold temperatures can increase your battery's rate of discharge, making
                    winter a triple-threat to your battery. All that exposure to summer's heat evaporates
                    the water in the electrolyte, increasing sulfation. Then winter rolls around, and
                    freezing temperatures slow the chemical reactions occurring inside a lead acid
                    battery, further reducing your battery's ability to perform. At the same time, a
                    cold engine and sluggish oil demand more power, while power-hungry features like
                    heat and defrost place more demand on your battery. Although lead acid batteries
                    last an average of four years, they can fail earlier under the right (or wrong) conditions.</p>


    <h5>Human error</h5>
    <p>You’ve probably done this at least once in your life – you come home from work, tired and not
        really thinking, and left the headlights on, didn't completely close the trunk, or even forgot
        about some internal lights. Overnight the battery drains, and in the morning your car won’t
        start. Many new cars alert you if you’ve left your lights on, but may not have alerts for other components.</p>

    <h5>Faulty Charging</h5>
    <p>If your charging system isn’t working properly, your car battery can drain even while you’re
        driving. Many cars power their lights, radio, and other systems from the alternator, which
        can make the battery drain worse if there's a charging problem. The alternator may have loose
        belts or worn-out tensioners that keep it from working properly.</p>

<h5>Defective Alternator</h5>
    <p>A car alternator recharges the battery and powers certain electrical systems like lights,
        radio, air-conditioning, and automatic windows. If your alternator has a bad diode, your
        battery can drain. The bad alternator diode can cause the circuit to charge even when the
        engine is shut off, and you end up in the morning with a car that won’t start because of the dead battery.</p>
    </div>

</div>

<div class="container">
    <div align="left" style="border: 1px solid red; margin: 5px; padding: 5px; background-color: black; color: white">
        <h4 align="center">How to change your car battery</h4>
        <p>
            Just like any battery, car batteries eventually die. Fortunately, replacing a car battery
            isn't that difficult and as long as you didn't get stranded somewhere, the hardest part
            about this DIY skill is lifting out the old battery and putting in the new one. As for
            tools, you also don't need anything special for this task—just a socket wrench set or a
            combination wrench, a pair of gloves, and maybe a wire brush. Once you're ready to install
            the new car battery, shut off the car's engine, pop the hood, and locate your battery.
        </p>
        <h5>1) Detach battery cables</h5>
        <p>
            Starting with the negative (black) battery cable, loosen the nut holding it in place.
            You can use a combination wrench or the correct size socket with extension and ratchet
            to remove it. Once loosened, detach the negative cable by pulling it up and off. Next,
            do the same steps with the positive (red) battery cable.
        </p>
        <h5>2) Remove battery hold down clamp</h5>
        <p>
            Using your combination wrench, you can now remove the battery hold down clamp or other
            battery restraints your vehicle may have that are holding the battery in place.
        </p>
        <h5>3) Remove the battery</h5>
        <p>
            To remove the car's battery, use both hands to grab the battery from the battery
            tray as it will be heavy at around 40 pounds. If the battery has a handle, you can use that instead.
        </p>
        <h5>4) Remove corrosion</h5>
        <p>
            Before you replace the old car battery with a new one, you should clean up any corrosion
            that was left behind. This corrosion is usually seen as a cakey white residue, which is
            residue from the battery that may have built up around your battery's terminals. You can use a
            battery cleaning solution for heavy corrosion, or a mix of baking soda and water to make it
            into a paste. Use an old toothbrush or wire brush when cleaning the terminals and a rag on
            any other areas. Remember to clean the hold down clamp as well. Wipe down everything with a
            dry cloth when done.
        </p>
        <h5>5) Install new battery</h5>
        <p>
            Put the new battery into the battery tray and secure it in place again with the battery hold
            down clamp. If you have any anti-corrosion battery terminal spray, use it now on both
            terminal ends. Make sure that the positive and negative terminals are on the right side.
        </p>
        <h5>6) Reattach battery cables</h5>
        <p>
            Reattach the battery cables. This time you will start with the positive (red) first. Attach and
            secure the positive cable and then do the same with the negative (black) battery cable. Doing it in
            this order is important so that you do not have any electrical issues.
        </p>

    </div>
</div>

<div class="container">
    <div align="left" style="margin: 5px; border: blue 1px solid; padding: 5px; background-color: black; color: white">
        <h5 align="center">About us</h5>
        <p>We created this jump start car service because of the high prices for a car jump start service in chicago and the suburbs. We feel that it
            shouldn't cost $100 or $120 dollars for a simple car jump start service in chicago. That won't be a
            problem anymore because we only charges $39 dollars for a jump start and nothing
            more. The cheapest option available in chicago and suburbs and we arrive in 8 to 20
            minutes. You only pay if the services was completed successfully and the car was able
            to start. Next time you need a <a href="https://www.chicagocarhelp.com/jump-start-car/">jump start car service</a> near you go
            to <a href="https://www.chicagocarhelp.com/">chicagocarhelp</a>. Its fast and cheap. We have helped thousands
            of people with a jump start. We have a five start rating.</p>
    </div>
    </div>

                            <div class="card text-black bg-light mb-3">
                        <div class="card-body" align="center">
                            <div class="purple_shadow">
                                <h6>More info</h6>
                                <a href="https://m.facebook.com/jumpstartcar">
                                    <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/facebook.png" alt="Free jump start service" style="margin-right: 5px; width: 35px; height: auto">
</a>

                                <a href="https://youtu.be/KSVwtD1qUG0">
                                    <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/youtube.png" alt="Free jump start service" style="margin-right: 5px; width: 35px; height: auto">
</a>

                                <a href="https://g.page/chicagocarhelp">
                                    <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/google.png" alt="Free jump start service" style="margin-right: 5px; width: 35px; height: auto">
</a>
                                <a href="https://www.yelp.com/biz/chicagocarhelp-cicero-3">
                                    <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/Yelp.png" alt="Free jump start service" style="margin-right: 5px; width: 35px; height: auto">
</a>

                                    <a href="https://www.linkedin.com/company/chicagocarhelp">
                                    <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/linkedin.png" alt="Free jump start service" style="margin-right: 5px; width: 35px; height: auto">
</a>

                                    <a href="http://chicagocarhelp.tumblr.com">
                                    <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/tumblr.png" alt="Free jump start service" style="margin-right: 5px; width: 35px; height: auto">
</a>
<br>

                                    <a href="https://www.geico.com/more/driving/auto/auto-care/what-to-do-if-your-car-wont-start/">Why a car won't start</a><br>
    <a href="https://www.askmen.com/cars/car_tips_100/105_car_tip.html">How to change a dead car battery</a><br>
    <a href="https://axleaddict.com/auto-repair/Whats-Wrong-With-My-Car-Five-Signs-Youre-Battery-Is-Dead">Signs of a dead car battery</a>

                            </div>
                            </div>
                            </div>





    </div>
{% endblock %}