<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap4 %}
<html lang="en">
<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135035488-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-135035488-1');
</script>

    <meta name="google-site-verification" content="Xh4b-vbI3iSpApnHIJfn1fABxBZ8kae5X5GhckCk3es" />

    <title>$39 Battery Jump Start Car Service Chicago,IL Jumpstartcarservice. Free ETA & Fastest and cheapest in Chicago</title>

    <meta charset="UTF-8" content="width=device-width, initial-scale=1" name="viewport" >
    <meta name="description" content="$39 for a jump start service. Fast and cheap. No call needed. Will be there in 20 minutes or less.">

    <meta name="keywords" content="Jump start car service, car won't start, dead car battery, Jump Start Service Chicago">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/my_style.css' %}"/>
</head>
<body class="main">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">


    <a class="small_font navbar-brand" href="{% url 'jumpstart:home'%}">Jumpstartcarservice
    </a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbarXs">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="collapsingNavbarXs">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    services
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'jumpstart:car-not-starting'%}">car not starting?</a>
                                <a class="dropdown-item" href="{% url 'jumpstart:dead-car-battery'%}">Chicago jump start service</a>

                    </div>
                </li>



            </ul>
        </div>



</nav>


{% block body_block %}


<div class="top_margin container" align="center">


    <div class="card text-white bg-dark mb-3 purple_shadow">
            <div class="card-body">
                                <h1 style="font-size: 32px">Jump Start Service</h1>


                                            <div style="position: relative; text-align: center; color: white">


                            <img style="width: 100%"
                             src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/chicagocarhelp_jumpstartservice.png"
                             alt="car jump start service and roadside assistance" title="car jump start service">
                        </div>


                <h5 class="card-text">Fast & Cheap car jump start service in Chicago for $39</h5>

                <p style="background-color: orange; color: black"><strong>Reasons why people in chicago request a jump start from us.</strong></p>


            <div class="card-deck">

              <div class="card text-white bg-info mb-3">
                <div class="card-body">
                <p>1. Car won't start</p>

                </div>
              </div>

              <div class="card text-white bg-info mb-3">
                    <div class="card-body">
                <p>2. Dead car battery</p>
                    </div>
              </div>


            </div>
        <div class="card-deck">

              <div class="card text-white bg-info mb-3">
                <div class="card-body">
                <p>3. Weak car battery</p>

                </div>
              </div>

              <div class="card text-white bg-info mb-3">
                <div class="card-body">
                <p style="font-size: 17px">4. Fast service in 8-20 minutes</p>

                </div>
              </div>
            </div>




            </div>


        <div style="color: white; background-color: black; border-radius: 4px; margin: 0 1px 4px 1px">
            <p>Only pay if jump start was successful, you have nothing to lose</p>
            <p style="color: #009a00">Enter location/phone for free estimate</p>

        </div>


        <form action="{% url 'jumpstart:thankyou'%}" method="post">
                {% csrf_token %}
                <input class="form-control" type="text" name="manual_address" value="" id="add_manual_address"
                       placeholder="Enter your Location" style="padding: 3px; border: 1px solid #571746; border-radius: 5px; margin-bottom: 3px">
                <input type='hidden' name="lengua" value="USA" id="lat">
                <p class="small" id="phone_output"></p>
                <label for="phone">


                    <img class="card-img-top"
                         src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/jumpstart_phone.png"
                         alt="tire" style="width: 20px; height: 20px; margin-top: -10px">
                    <input type="text" required name="phone" placeholder="Enter phone number" id="phone"
                           style="padding: 3px; border: 1px solid #571746; border-radius: 5px; margin-bottom: 3px"></label>
                <button type="submit" class="bottom_margin btn btn-success btn-lg btn-block"
                        id="request">CLICK HERE WHEN INFO ENTERED</button>
                    <h5 style="color: #ffffff">Credit card, cash or Venmo accepted</h5>



            </form>
                            </div>








                    <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/jumpstart_clock.png" alt="roadside assistance" style="width: 150px; display: block; margin-top: 10px">
        <div align="center" style="border: 2px solid white; margin-top: 5px; padding: 5px; width: 335px; background-color: #29abe2; border-radius: 7px">
            <h5 style="color: white">FAST</h5>
        <h5 style="color: white">Will get to you in 8-20 minutes</h5>
        </div>




        <div class="card" style="width: 18rem; margin: 10px">
            <h5 class="card-title">Payments</h5>

                <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/here903Asset_30.png" alt="free jump start chicago" style="width: 240px">
          <div class="card-body">



          </div>
        </div>

            <button id="dis-compe" class="btn btn-light" style="margin-top: -8px; margin-bottom: 8px">Check competition prices</button>
                <div style="visibility: hidden; display: none" id="show-compe">
                    <div style="border: black solid 1px; width: 320px; height: 395px; background-color: #ffffff; border-radius: 7px; margin-top: 5px">
                        <p style="border: black 1px solid; background-color: black; color: white; width: 250px; border-radius: 7px; margin-top: 5px">Competition prices</p>
                        <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/here901Asset_27.png" alt="jump start service" style="width: 180px; margin-top: 10px">
                        <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/jumpstart_price.png" alt="free jump start" style="width: 150px">
                        <a style="display: block" href="https://www.geturgently.com">Check price</a>

                        <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/here901Asset_26.png" alt="free jump start" style="width: 180px; margin-top: 20px">
                        <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/jumpstart_price.png" alt="car jump start service" style="width: 150px">
                        <a style="display: block" href="https://mw.honkforhelp.com">Check price</a>
                    </div>
                </div>



        <div align="center" style="margin-top: 7px; margin-bottom: 15px">
           <iframe class="makevideobig" id="vp1Dp0J6" title="Video Player" width="100%" height="200" frameborder="0" src="https://s3.amazonaws.com/embed.animoto.com/play.html?w=swf/production/vp1&e=1558305867&f=u2SohXLv7Sr78FJZ91Rw0g&d=0&m=a&r=360p&volume=100&start_res=undefined&i=m&asset_domain=s3-p.animoto.com&animoto_domain=animoto.com&options=" allowfullscreen></iframe>

            <div class="card text-dark bg-light mb-3 green_shadow">
              <div class="card-body">
                <p class="card-text make_big" style="margin-top: -10px; font-size: 18px" >How our jump start works</p>

              </div>
            </div>


        </div>

        <hr>

        <div align="center" style="margin: 10px">
           <iframe class="makevideobig" id="vp1Dp0J6" title="Video Player" width="100%" height="200" frameborder="0" src="https://s3.amazonaws.com/embed.animoto.com/play.html?w=swf/production/vp1&e=1558316047&f=PSNIgNPFD42VGRbGgj9sSQ&d=0&m=a&r=360p&volume=100&start_res=undefined&i=m&asset_domain=s3-p.animoto.com&animoto_domain=animoto.com&options=" allowfullscreen></iframe>

            <div class="card text-dark bg-light mb-3 green_shadow">
              <div class="card-body" align="center">
                <p class="card-text make_big" style="margin-top: -10px; font-size: 18px">How to tell if you need a jump start car service</p>

              </div>
            </div>


        </div>


        <div style="background-color: black; margin: 15px 8px 8px 8px; padding: 8px">
             <div align="center" style="color: white; margin: 8px; background-color: #a80400">
                <p>Car won't start or dead battery? You need a battery jump start service</p>
            </div>
            <div style="color: white; margin: 8px" align="left">
                <div style="background-color: white">
                    <p style="color: black; margin: 5px; padding: 5px">How to tell if you need a battery jump start service</p>
                </div>
                <p>1) Your engine cranks (makes a clicking noise), but it doesn't start.</p>
                <p>2) Your engine doesn't crank (no clicking noise) or start, and the lights don't come on.</p>
                <p>3) One day it starts fine, then the next day it won't start at all.</p>
                <p>4) You left the lights on over night.</p>
                <p>5) It has been 2 or more weeks since you last drove your car.</p>
                <p>6) Excessive heat or cold weather can weaken your battery. Hot temperatures can be worse
                    for your car than cold weather.</p>
            </div>
        </div>



        <div class="card-deck">
              <div class="card text-white bg-secondary mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Contact</h5>
                        <p>For better/faster service please use the form above. You can also call us</p>
                        <a href="tel:+17085489664"><button class="btn btn-info btn-lg">CALL</button></a>
                        <p>708-548-9664</p>
                    </div>
              </div>


              <div class="card text-white bg-warning mb-3">
                <div class="card-body">
                  <h5 class="card-title">Best Choice</h5>
                    <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/jumpstart_seal.png" alt="roadside assistance" style="width: 100px">

                </div>
              </div>


              <div class="card text-white bg-warning mb-3">
                <div class="card-body">
                  <h5 class="card-title">Five Start Rating</h5>
                    <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/jumpstart_five.png" alt="free car jump start" style="width: 150px">

                </div>
              </div>


        </div>






<div align="center">
    <div align="left">

        <div align="center" class="container">
            <h4>Car Battery Info</h4>
    <p>You get in your car, turn the key, and the nothing. If you’ve been there before you know exactly what happens next. Your stomach
        sinks and you frantically turn the key again. Instead of sitting in your car,
        apartment, or work parking garage in denial, jump into action and find a solution right away.
        </p>
    <p>A car battery is the most important piece of equipment to starting and driving your vehicle.
        The battery sends power from the starter motor to the sparks plugs, igniting your car’s fuel,
        while also giving electricity to other systems. This includes lights, radio,
        and more. You may be able to tell when your car battery starts to die if you find it
        difficult to start your car, have flickering lights, or a weakening alarm system.</p>
        </div>




</div>
    </div>

    <div align="center" class="container">

    <h4>About Us</h4>
    <p>Jumpstartcarservice was created because of the high prices for a jump start service in chicago and suburbs. We feel that it shouldn't cost $75
    or $100 dollars for a <a href="https://www.chicagocarhelp.com/Jump-Start-Service-Illinois-Chicago/">jump start car service</a> chicago. That won't be a problem anymore because Jumpstartcarservice only charges
    $39 dollars for a jump start service and only if the service was completed. The cheapest and fastest option available in chicago and suburbs. You only pay if the service was completed
    successfully and the car was able to start. Next time your car doesn't start and need a <a href="https://www.chicagocarhelp.com/">jump start service near you</a> contact us. Its fast and cheap</p>

</div>

        <div align="left" style="border: 1px solid red; margin: 5px; padding: 5px">
            <h4 align="center">How to jump start a car</h4>

        <h5>1) Locate the battery</h5>
        <p>
            In many cars, the battery sits in the engine compartment under the hood. However, it
            may also be located in the trunk or under the rear seat of your car. Even when a car
            battery is hidden in a hard-to-find spot, it’s often wired to the engine compartment to
            support jump-starting conveniently from under the hood.While it’s extremely rare, batteries
            can rupture and leak acid, and connecting jumper cables incorrectly can create sparks or damage your electrical components. For
            this reason, eye and hand protection is very important. In the case of a battery that’s been
            dead for a long time, it’s best to call professional assistance due to the added risk of complications.
        </p>

        <h5>2) Get jumper cables</h5>
        <p>
            To jump start a dead car battery from another vehicle identify the positive terminal or connection point under the hood (usually noted
            by a red cover and a “+” symbol). The best way to know you have found the positive terminal
            is to look for the positive “+” embossed on the actual battery. Clip one of the positive red clamps to
            the positive terminal.Next connect the other red clamp to the positive terminal of
            the car providing the jump, followed by the negative black clamp to the negative
            terminal of the car providing the jump. Ensure a grounded connection and
            avoid damaging the battery, attach the final negative clamp to a sizable metallic component of the engine. Don't clamp to thin sheet metal, painted surfaces, or
            fluid-bearing tubes. Avoid areas around the belts of the engine and the cooling fans.
        </p>
        <h5>3) Try starting the car</h5>
        <p>
            After letting it run for a few minutes,
            attempt to start the car with the dead battery. The car may crank slowly, but the goal is to
            get the engine to start. If the car does not start, check all your
            connections, adjusting the clamps as needed to ensure full contact, and restart the engine
            of the car providing the jump. If the car
            still does not start, leave the cables connected and let the running vehicle charge the dead battery
            for 5 to 10 minutes before trying to start the dead car again. Once the car with the
            dead battery is running, disconnect each connection, starting with the negative clamp on the car that provided the jump first. Then, disconnect the negative
            clamp from the car that received the jump, followed by the positive cables in whichever sequence
            is most convenient. It’s a good idea to keep the battery in use
            for 30 minutes before turning off the engine in order to ensure the charge holds. If the battery
            is nearing the end of its life , it may need to be replaced by a mechanic.
        </p>




    <div class="container">
    <h6>More info</h6>
    <a href="https://www.dummies.com/home-garden/car-repair/how-to-jump-start-a-car/">How to jump start your car</a><br>
    <a href="https://www.goodhousekeeping.com/institute/a22833/how-to-use-jumper-cables/">How to user jumper cables</a><br>
    <a href="http://jumpstarterexpert.com/how-to-use-a-portable-jump-starter/">How to use a jump starter</a>
</div>
</div>


    <div class="col-lg-12 col-12">

    <div class="row">
        <div class="col rd">60606</div>
        <div class="col bl">60607</div>
        <div class="col rd">60608</div>

        <div class="col bl">60610</div>
        <div class="col bl">60611</div>
        <div class="col rd">60612</div>
        <div class="col bl">60613</div>

        <div class="col bl">60614</div>
        <div class="col rd">60616</div>
        <div class="col bl">60618</div>

        <div class="col bl">60622</div>
        <div class="col rd">60623</div>
        <div class="col bl">60624</div>

        <div class="col bl">60625</div>
        <div class="col bl">60630</div>
        <div class="col rd">60638</div>

        <div class="col bl">60639</div>
        <div class="col bl">60640</div>
        <div class="col bl">60641</div>

        <div class="col rd">60642</div>
        <div class="col bl">60644</div>
        <div class="col rd">60647</div>

        <div class="col bl">60651</div>
        <div class="col rd">60654</div>
        <div class="col bl">60657</div>

        <div class="col bl">60661</div>
        <div class="col bl">60302</div>
        <div class="col rd">60304</div>

        <div class="col bl">60402</div>
        <div class="col bl">60804</div>
    </div>

 </div>


<div align="center">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d380513.71601800894!2d-88.01234150586738!3d41.83339249957157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e33ad94b2b981%3A0x226556739ebfc1f3!2sChicagocarhelp!5e0!3m2!1sen!2sus!4v1566764274203!5m2!1sen!2sus" width="340" height="240" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>




                    <div class="card text-black bg-light mb-3">
                        <div class="card-body" align="center">
                            <div class="purple_shadow">
                                <h6>More info</h6>
                                <a href="https://m.facebook.com/jumpstartcar">
                                    <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/facebook.png" alt="Free jump start service" style="margin-right: 5px; width: 35px; height: auto">
</a>

                                <a href="https://www.youtube.com/channel/UC8bYCR_hyh9ZalXqpt5GASg?view_as=subscriber">
                                    <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/youtube.png" alt="Free jump start service" style="margin-right: 5px; width: 35px; height: auto">
</a>

                                <a href="https://g.page/chicagocarhelp">
                                    <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/google.png" alt="Free jump start service" style="margin-right: 5px; width: 35px; height: auto">
</a>
                                <a href="https://www.yelp.com/biz/chicagocarhelp-cicero-3">
                                    <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/Yelp.png" alt="Free jump start service" style="margin-right: 5px; width: 35px; height: auto">
</a>

                                    <a href="https://www.linkedin.com/company/chicagocarhelp">
                                    <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/linkedin.png" alt="Free jump start service" style="margin-right: 5px; width: 35px; height: auto">
</a>

                                    <a href="http://chicagocarhelp.tumblr.com">
                                    <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/tumblr.png" alt="Free jump start service" style="margin-right: 5px; width: 35px; height: auto">
</a>
                                    <br>
                                <a href="https://www.pepboys.com/parts/batteries/diy-replacing">How to replace a car battery</a><br>
                                <a href="https://www.mta.org.nz/radiatorgo/motoring-tips/car-battery-care-and-life-expectancy/">Car battery lifespan</a><br>
                                <a href="https://www.chicagocarhelp.com/Jump-Start-Service-Illinois-Chicago/">car jump service</a><br>
                                <a href="https://www.chicago.gov/city/en.html">Chicago</a>

                            </div>

                        </div>
                    </div>


    </div>



{% endblock %}

    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

<script>
    function xc() {
        let whole_text = document.getElementById('show-compe').style;
        whole_text.visibility = 'visible';
        whole_text.display = 'block'

    }
    document.getElementById('dis-compe').addEventListener("click", xc, false)

</script>


</body>
</html>