<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap4 %}
<html lang="en">
<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135035488-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-135035488-1');
</script>

    <meta name="google-site-verification" content="Xh4b-vbI3iSpApnHIJfn1fABxBZ8kae5X5GhckCk3es" />

    <title>$39 Battery Jump Start Car Service Chicago,IL Jumpstartcarservice. Free ETA & Fastest and cheapest in Chicago</title>

    <meta charset="UTF-8" content="width=device-width, initial-scale=1" name="viewport" >
    <meta name="description" content="$39 for a jump start service. Fast and cheap. No call needed. Will be there in 20 minutes or less.">

    <meta name="keywords" content="Jump start car service, car won't start, dead car battery, Jump Start Service Chicago">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/my_style.css' %}"/>
</head>
<body class="main">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">


    <a class="small_font navbar-brand" href="{% url 'jumpstart:home'%}">Jumpstartcarservice
    </a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbarXs">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="collapsingNavbarXs">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    services
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'jumpstart:car-not-starting'%}">car not starting?</a>
                                <a class="dropdown-item" href="{% url 'jumpstart:dead-car-battery'%}">Chicago jump start service</a>

                    </div>
                </li>



            </ul>
        </div>



</nav>

    <div class="top_margin container" align="center">


    <div class="card text-white bg-dark mb-3 purple_shadow">
            <div class="card-body">


                                            <div style="position: relative; text-align: center; color: white">


                            <img style="width: 100%"
                             src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/jumpstart_cables.jpg"
                             alt="car jump start service and roadside assistance" title="car jump start service">
                        </div>


                <h5 class="card-text">Le pasamos corriente (pasar cables) a su carro por $25</h5>



            </div>


        <div style="color: white; background-color: black; border-radius: 4px; margin: 0 1px 4px 1px">
            <p>Solo paga si el carro prende, no tienes nada que perder</p>
            <p style="color: #009a00">Ingrese la ubicación / teléfono para un estimado gratis</p>

        </div>


        <form action="{% url 'jumpstart:thankyou'%}" method="post">
                {% csrf_token %}
                <input class="form-control" type="text" name="manual_address" value="" id="add_manual_address"
                       placeholder="Ingresa tu Dirección" style="padding: 3px; border: 1px solid #571746; border-radius: 5px; margin-bottom: 3px">
                <input type='hidden' name="lengua" value="MX" id="lat">
                <p class="small" id="phone_output"></p>
                <label for="phone">


                    <img class="card-img-top"
                         src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/jumpstart_phone.png"
                         alt="tire" style="width: 20px; height: 20px; margin-top: -10px">
                    <input type="text" required name="phone" placeholder="Ingresa número telefónico" id="phone"
                           style="padding: 3px; border: 1px solid #571746; border-radius: 5px; margin-bottom: 3px"></label>
                <button type="submit" class="bottom_margin btn btn-success btn-lg btn-block"
                        id="request">HAGA CLIC AQUÍ AL TERMINAR</button>
                    <h5 style="color: #ffffff">Aceptamos tarjeta de Crédito / Débito, Efectivo o Venmo</h5>



            </form>
                            </div>


                        <a href="tel:+17085489664"><button class="btn btn-info btn-lg">Presione Para Llamar</button></a>
                        <p>708-548-9664</p>





                    <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/jumpstart_clock.png" alt="roadside assistance" style="width: 150px; display: block; margin-top: 10px">
        <div align="center" style="border: 2px solid white; margin-top: 5px; padding: 5px; width: 335px; background-color: #29abe2; border-radius: 7px">
            <h5 style="color: white">RAPIDO</h5>
        <h5 style="color: white">Llegaremos en 10 a 20 minutos o menos</h5>
        </div>




        <div class="card" style="width: 18rem; margin: 10px">
            <h5 class="card-title">Pagos</h5>

                <img src="https://chicagocarhelp.s3.us-east-2.amazonaws.com/here903Asset_30.png" alt="free jump start chicago" style="width: 240px">
          <div class="card-body">



          </div>
        </div>




        <div align="center" style="margin-top: 7px; margin-bottom: 15px">
           <iframe class="makevideobig" id="vp1Dp0J6" title="Video Player" width="100%" height="200" frameborder="0" src="https://s3.amazonaws.com/embed.animoto.com/play.html?w=swf/production/vp1&e=1558305867&f=u2SohXLv7Sr78FJZ91Rw0g&d=0&m=a&r=360p&volume=100&start_res=undefined&i=m&asset_domain=s3-p.animoto.com&animoto_domain=animoto.com&options=" allowfullscreen></iframe>

            <div class="card text-dark bg-light mb-3 green_shadow">
              <div class="card-body">
                <p class="card-text make_big" style="margin-top: -10px; font-size: 18px" >Cómo funciona nuestro servicio</p>

              </div>
            </div>


        </div>

        <hr>



</div>

</body>
</html>