<!DOCTYPE html>
{% extends 'jumpstart/home.html' %}

{% block body_block %}

    <div class="top_margin container" align="center">


    <div class="card text-white bg-dark mb-3 purple_shadow">
            <div class="card-body">


                                            <div style="position: relative; text-align: center; color: white">


                            <img style="width: 100%"
                             src="/media/media/jumpstart_cables.jpg"
                             alt="car jump start service and roadside assistance" title="car jump start service">
                        </div>


                <h5 class="card-text">Le pasamos corriente (pasar cables) a su carro por $25</h5>



            </div>


        <div style="color: white; background-color: black; border-radius: 4px; margin: 0 1px 4px 1px">
            <p>Solo paga si el carro prende, no tienes nada que perder</p>
            <p style="color: #009a00">Ingrese la ubicación / teléfono para un estimado gratis</p>

        </div>


        <form action="{% url 'jumpstart:thankyou'%}" method="post">
                {% csrf_token %}
                <input class="form-control" type="text" name="manual_address" value="" id="add_manual_address"
                       placeholder="Ingresa tu Dirección" style="padding: 3px; border: 1px solid #571746; border-radius: 5px; margin-bottom: 3px">
                <input type='hidden' name="lengua" value="MX" id="lat">
                <p class="small" id="phone_output"></p>
                <label for="phone">


                    <img class="card-img-top"
                         src="/media/media/call-answer.png"
                         alt="tire" style="width: 20px; height: 20px; margin-top: -10px">
                    <input type="text" required name="phone" placeholder="Ingresa número telefónico" id="phone"
                           style="padding: 3px; border: 1px solid #571746; border-radius: 5px; margin-bottom: 3px"></label>
                <button type="submit" class="bottom_margin btn btn-success btn-lg btn-block"
                        id="request">HAGA CLIC AQUÍ AL TERMINAR</button>
                    <h5 style="color: #ffffff">Aceptamos tarjeta de Crédito / Débito, Efectivo o Venmo</h5>



            </form>
                            </div>


                        <a href="tel:+17085489664"><button class="btn btn-info btn-lg">Presione Para Llamar</button></a>
                        <p>708-548-9664</p>





                    <img src="/media/media/here901Asset_25.png" alt="roadside assistance" style="width: 150px; display: block; margin-top: 10px">
        <div align="center" style="border: 2px solid white; margin-top: 5px; padding: 5px; width: 335px; background-color: #29abe2; border-radius: 7px">
            <h5 style="color: white">RAPIDO</h5>
        <h5 style="color: white">Llegaremos en 10 a 20 minutos o menos</h5>
        </div>




        <div class="card" style="width: 18rem; margin: 10px">
            <h5 class="card-title">Pagos</h5>

                <img src="/media/media/Asset_31.png" alt="free jump start chicago" style="width: 240px">
          <div class="card-body">



          </div>
        </div>




        <div align="center" style="margin-top: 7px; margin-bottom: 15px">
           <iframe class="makevideobig" id="vp1Dp0J6" title="Video Player" width="100%" height="200" frameborder="0" src="https://s3.amazonaws.com/embed.animoto.com/play.html?w=swf/production/vp1&e=1558305867&f=u2SohXLv7Sr78FJZ91Rw0g&d=0&m=a&r=360p&volume=100&start_res=undefined&i=m&asset_domain=s3-p.animoto.com&animoto_domain=animoto.com&options=" allowfullscreen></iframe>

            <div class="card text-dark bg-light mb-3 green_shadow">
              <div class="card-body">
                <p class="card-text make_big" style="margin-top: -10px; font-size: 18px" >Cómo funciona nuestro servicio</p>

              </div>
            </div>


        </div>

        <hr>



</div>

{% endblock %}