<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
{% load bootstrap4 %}
<head>
    <link rel="canonical" href="https://www.jumpstartcarservice.com/" />
    <title>Thank You</title>
        <meta charset="UTF-8" content="width=device-width, initial-scale=1" name="viewport" >
    <meta name="description" content="Learn why your car is not starting and request a jump start for only $39. Fast and cheap">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/my_style.css' %}"/>
</head>
<body>


    <img src="/media/media/jumpstart_thanks.jpg" alt="" style="width: 100%; height: auto">

    <div align="center">
            <h5 style="color: #0005cc">We accept credit/debit card, cash or Venmo</h5>
            <h5 style="color: #0005cc">You will be charged when your service has been completed</h5>
    </div>
    <div class="container"><h5 class="centered">Thank you for choosing WWW.JUMPSTARTCARSERVICE.COM for your road side assistance. I will contact you in a few minutes.</h5></div>


</body>
</html>