img{
    width: 100%;
    height: auto;
    object-fit: contain;
}



.bl{
    background-color: #171717;
    border-radius: 3px;
    color: white;
    margin: 3px;
}

.rd{
    background-color: #171717;
    border-radius: 3px;
    color: white;
    margin: 3px;
}

.make_big{
    font-size: 30px;

}
.make_big_two{
    font-size: 30px;
}


.bottom_margin{
    margin-bottom: 30px;
}
.top_margin{
    margin-top: 20px;
}

.top_margin2{
    margin-top: 50px;
}

.card_width{
    width: 18rem;
    height: 30rem;
    margin: 10px 5px 5px 5px;
}

.card_width_tire{
    width: 22rem;
    height: 32rem;
    margin: 10px 5px 5px 5px;
}

#map{
    width: 100%;
    height: 400px;
}


.card-img-caption .card-img-top {
  z-index: 0;
}

.card-img-caption .card-text {
  text-align: center;
  width: 100%;
  margin: 33% 0;
  position: absolute;
  z-index: 1;
}
.added{
    color: white;
    background: rgba(3, 156, 3, 0.65);
    height: 150px;
    padding-top: 35px
}

.pic_background{
    color: white;
    background: rgba(0, 0, 0, 0.74);
    padding-top: 1px
}

.business{
    width: 300px;
    height: 100px;
    background-color: #cc1111;
    border-radius: 5px;
    box-shadow: 5px 6px 8px 0 rgba(252,0,29, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 70px;
}
.business_white{
    color: white;
}

.purple_shadow{
    max-width: 30rem;
    box-shadow: 5px 6px 8px 0 rgb(41, 171, 226), 0 6px 20px 0 rgba(41, 171, 226, 0.36);
}



.purple_shadow_two{
    max-width: 50rem;
    box-shadow: 5px 6px 8px 0 rgb(41, 171, 226), 0 6px 20px 0 rgba(41, 171, 226, 0.36);
}
.purple_shadow_two p{
    padding: 10px;
    text-align: start;
}
.silva {
  background-color: #004A7F;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1900ms infinite;
}
@-webkit-keyframes glowing {
  0% { background-color: #006208; -webkit-box-shadow: 0 0 3px #006208; }
  50% { background-color: #0a8516; -webkit-box-shadow: 0 0 40px #0a8516; }
  100% { background-color: #006208; -webkit-box-shadow: 0 0 3px #006208; }
}

@media screen and (max-width: 600px){

    .main{
        font-size: 19px;
    }




}

@media screen and (min-width: 1000px){
    .main{
        font-size: 25px;
    }



}

@media screen and (min-width: 700px){

    .makevideobig{
        width:450px;
        height:300px;
    }
    .makebig{
        width: 600px;
        height: auto;
        display: block;
        margin-top: 10px;
        margin-bottom: 5px
    }




}
.top_margin{
    margin-top: 20px;
}

@media screen and (max-width: 600px){


    .makebig{width: 340px; display: block; margin-top: 10px; margin-bottom: 5px}

    .card_width{
        width: 16rem;
        height: 29rem;
    }
    .main{
        font-size: 19px;
    }
    .small_font{
        font-size: 17px;
    }
    .card_width_tire{
        height: 38rem;
        width: 20rem;
    }
    .make_big{
    font-size: 20px;

    }
    .make_big_two{
        font-size: 16px;
    }
    .put_left{
        text-align: start;
    }


}

